.header{
    height: 110px;
    width: 100vw;
    padding: 0 1.5rem;

    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--white);
    
    display: flex;
    justify-content: center;
    z-index: 1;
    border-bottom: 1px solid var(--border-bottom);
}

@media screen and (min-width: 768px){
    .header{
        height: 82px;
        padding: 0 2rem;
        width: 100vw;
    }
}