.post__list{
    display: flex;
    align-items: center;
    gap: 0.2em;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width:385px){
    .post__list{
        justify-content: center;
        gap: 1em;
    }
}