.aside__box{
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--border-light);

}

.aside__box--add{
    height: 250px;
    background-image: url("../../img/aside/add.png");
    background-size: cover;
    margin-top: 0.7rem;
}

.aside__box--footer{
    background: none;
    border: none;
    margin-top: 0.9rem;
}