.menu__item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.6rem;
}

.menu__item--business a{
    display: flex;
    align-items: center;
}


@media screen and (min-width: 768px){
    .menu__item{
        padding: 0 1.3rem;
    }
}


@media screen and (min-width: 1100px){
    .menu__item{
        width: 118px;
    }
}

@media screen and (min-width: 1300px){
    .menu__item{
        width: 124px;
    } 
}